<header >
    <p class="logo">Express.JS</p>
    <ul class="navbar">
        <li><a href="/" >Home</a></li>
        <li><a href="/about" >About</a></li>
        <li><a href="/register" >Register</a></li>
        <li><a href="/login" >Login</a></li>
        <li><a href="/logout" >Logout</a></li>
    </ul>
</header>

<script>
    const currentLocation = location.href;
    const menuItem = document.querySelectorAll('a');
    const menuLenght = menuItem.length;
    for(let i = 0; i<menuLenght; i++){
        if(menuItem[i].href === currentLocation){
            menuItem[i].className = "active"
        }
    }
</script>