<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <body>
      {{>navbar}}
    <div class="container">
        <div class="home_section">
        <h1>Welcome to Express.JS</h1>
        <p>We are gonna learn Authentication in Express Via this Project</p>
        <div class="details">
            <div class="img_detail">
                <img src="images/node.png" alt="">
                Express.js, or simply Express, is a back end web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It has been called the de facto standard server framework for Node.js. Express is the back-end component of popular development stacks like the MEAN, MERN or MEVN stack, together with the MongoDB database software and a JavaScript front-end framework or library.
            </div>
            <div class="img_detail">
                <img src="images/user.png" alt="">
                Authentication (from Greek: αὐθεντικός authentikos, "real, genuine", from αὐθέντης authentes, "author") is the act of proving an assertion, such as the identity of a computer system user. In contrast with identification, the act of indicating a person or thing's identity, authentication is the process of verifying that identity.[1] It might involve validating personal identity documents, verifying the authenticity of a website with a digital certificate
            </div>
        </div>
        </div>
    </div>
  </body>
</html>